<title>Edit An Image</title>
<h1>Image By : {{author}}</h1>

<img src="{{link}}" alt="">

<h3>New Image Information</h3>

<form action="/gallery/{{id}}?_method=PUT" method="post">
  <p>Author : </p><input type="text" name="author" value="{{author}}">
  <p>Link : </p><input type="text" name="link" value="{{link}}">
  <p>Description : </p><textarea name="description">{{description}}
  </textarea>
  <br>
  <input type="submit" value="EDIT">
</form>

<form action="/gallery/{{id}}?_method=DELETE" method="post">
  <input type="submit" value="DELETE">
</form>