<title>Edit Image</title>


<div>
  <h1>Edit Image Information</h1>
  <h2>Image By: {{user.username}}</h2>

  <img src="{{link}}" alt="">

  <form action="/gallery/{{id}}?_method=PUT" method="post">
    <!-- <p>Author : </p><input type="text" name="author" value="{{userId}}"> -->
    <p>Link : </p><input type="text" name="link" value="{{link}}">
    <p>Description : </p><textarea name="description">{{description}}
    </textarea>
    <p>
    <input type="submit" value="EDIT">
    <input type="submit" value = "DELETE" formaction="/gallery/{{id}}?_method=DELETE" method="post">
  </form>
</div>